{% extends "home/base.html" %}

{% load static %}

{% block content %}
  <!-- Logistica -->
  <section class="page-section clearfix">
    <div class="container">
      <form action="" method="POST" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
          <label class="Word" for="exampleFormControlTextarea1" id="word">Entrada</label>
          <textarea class="form-control"  readonly="readonly" id="Textarea1" name="Textarea1" rows="16">{{result}}</textarea>
        </div>
        <div class="col-md-6">
          <label class="Word" for="exampleFormControlTextarea2" id="word">Salida</label>
          <textarea class="form-control"  readonly="readonly" id="Textarea2" name="Textarea2" rows="16">{{data}}</textarea>
        </div>
        <div class="col-md-12">
          <button href="{% url 'Registro' %}"  class="btn btn-danger" style="width: 200px;">Regresar</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %} 