{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
  <!-- Logistica -->
  <section class="page-section clearfix">
    <div class="container">
      <h1 class="titulo">Selecciona un Archivo</h1>
      <form action="" method="POST" class="row g-3">
        {% csrf_token %}
        <div class="col-md-7" style="margin-bottom: 1.5rem;">
          <select class="form-select" name="archivo" id="archivo" aria-label="Default select example">
                <option selected>Files</option>
                {% for file in Files %}
                <option value="{{ file.titulo }}">{{ file.titulo }}</option>
                {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label class="Word" for="exampleFormControlTextarea1" id="word">Entrada</label>
          <textarea class="form-control"  readonly="readonly" id="Textarea1" name="Textarea1" rows="16"></textarea>
        </div>
        <div class="col-md-6">
          <label class="Word" for="exampleFormControlTextarea2" id="word">Salida</label>
          <textarea class="form-control"  readonly="readonly" id="Textarea2" name="Textarea2" rows="16"></textarea>
        </div>
        <div class="col-md-12">
          <button  name="send" id="send" class="btn btn-success" style="width: 150px;">Enviar</button>
          <button  name="reset" id="reset" class="btn btn-danger" style="width: 150px;">Reinicio</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %} 