@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-image: url("../img/bg.jpg");
} 

.header {
    font-family: 'Poppins';
    font-size: 17px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0; 
}

#navbarSupportedContent > ul > li > a:hover{
    color: #e77c3c
}

.navbar-toggler{
    border: none;
    outline: none;
}


.container{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.titulo{
    color:rgb(8, 8, 8);
}
label{
    font-weight: 600;
    color:rgb(12, 216, 117);
    font-size: 175%;
}

textarea {
    resize: none;
}